.content {
    margin-bottom: 20px;
}

table{
    margin-left: auto;
    margin-right: auto;
}

.table-container {
    text-align: center;
}

.tg  {
    border-collapse: collapse;
    border-spacing: 0;
}
.tg td{
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 10px;
    overflow: hidden;
    padding: 5px 5px;
    word-break: normal;

}
.tg th{
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 10px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 10px;
    word-break: normal;

}

.tg .th-rank {
    width: 50px;
    text-align: center;
}

.tg .th-team {
    width: 150px;
    text-align: center;
}

body {
    text-align: center;
}

.button {
    background-color: white;
    color: black;
    border: 2px solid #000; /* Green */
    border-radius: 5px;
}

.button:hover {
    background-color: rgb(238, 238, 238);
    border: 2px solid rgb(41, 41, 41); /* Green */
    cursor: pointer;
}

.font-awesome-button {
    padding: 2px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.font-awesome-button:hover {
    opacity: 0.7;
    background: #00000020;
}